#navbarNavAltMarkup{
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    text-shadow: black;

}
.navbar-brand{
    font-family: 'Poiret One', cursive;
    font-size: 40px;
}
#navbarr{
    text-align: 100px;
}