#navbarNavAltMarkup{
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    text-shadow: black;

}
.navbar-brand{
    font-family: 'Poiret One', cursive;
    font-size: 40px;
}
#navbarr{
    text-align: 100px;
}
#navbar22{
    display: block !important;
    margin-left: 40%;
    align-items: center;
}
#newForm{
    width: 200px;
    text-align: center;
    display: block;
}
#changer{
 color: darkslateblue;
}
