<ng-progress></ng-progress>
<div *ngIf='user.username'>
<div class="profile" >
    <div class="row">
      <div class="col-6 text-center profile-image">
        <img [src]='user.avatarUrl' alt="landing-page-image">
      </div>
      <div class="col-6 profile-text">
        <div class="card-body">
          <p class="card-text"><span class="headings">Name:</span>{{user.name}}</p>
          <p class="card-text"><span class="headings">Username:</span>{{user.username}}</p>
          <p class="card-text"><span class="headings">Bio:</span>{{user.bio}}</p>
          <p class="card-text"><span class="headings">Followers:</span> {{ user.followers }}</p>
          <p class="card-text"><span class="headings">Following:</span> {{ user.following }}</p>
          <p class="card-text"><a [href]='user.githubUrl' >Visit Profile</a></p>
        </div>
      </div>
    </div>
  </div>

