<ng-progress></ng-progress>
    <form #githubForm='ngForm'>
        <div class="form-group">
                <label for="username" appHighlight>Search Username</label>
                <input (keyup.enter)='findProfile()' type="text" class="form-control" id="" placeholder="Search username" 
                      [(ngModel)]='searchItem' name='searchItem' >
        </div>
    </form>

<div *ngIf='user.username'>
    <div class="profile" >
        <div class="row">
          <div class="col-6 text-center profile-image">
            <img [src]='user.avatarUrl' alt="landing-page-image">
          </div>
          <div class="col-6 profile-text">
            <div class="card-body">
                <p class="card-text"><span class="headings">Name:</span>{{user.name}}</p>
                <p class="card-text"><span class="headings">Username:</span>{{user.username}}</p>
                <p class="card-text"><span class="headings">Bio:</span>{{user.bio}}</p>
                <p class="card-text"><span class="headings">Followers:</span> {{ user.followers }}</p>
                <p class="card-text"><span class="headings">Following:</span> {{ user.following }}</p>
                <p class="card-text"><a [href]='user.githubUrl' >Visit Profile</a></p>
            </div>
          </div>
        </div>
      </div>
    <div class="text-center repos"> 
    <h3 appHighlight>Repositories</h3>
    <div class="row">
    <div class="col-4 card" *ngFor='let oneRepo of repos'>
        <div class="card-body">
          <h5 class="card-title" appHighlight>{{oneRepo.name|uppercase}}</h5>
          <p class="card-text">{{ oneRepo.description }}</p>
          <a [href]='oneRepo.html_url'>View</a>
        </div>
        <div class="card-footer text-muted">
          Created  {{ oneRepo.created_at | dateCount }} ago
        </div>
      </div>
    
    </div>       
    </div>
